@page "/reverseastring"

<PageTitle>Reverse A String</PageTitle>

<h3>Reverse A String</h3>

<div class="vstack gap-3 col-8 col-md-6">
    <InputText class="form-control"
               placeholder="Enter a string to reverse"
               @bind-Value="message" />
    <div class="text-end">
        <button class="btn btn-primary"
                @onclick="ReverseMe">
            Reverse
        </button>
        <button class="btn btn-warning"
                @onclick="ClearMe">
            Clear!
        </button>
    </div>
    <hr />

    @if (reversedMessage is not "")
    {
        @if (IsPalindrome)
        {
            <Message DisplayMessage="@displayMessage"
                     Title="The message is a palindrome" />
        }
        else
        {
            <Message DisplayMessage="@displayMessage"
                     Title="The message is not a palindrome"
                     CssClass="alert-danger" />
        }
    }

</div>

@code {
    private string message = "Reverse Me";
    private string reversedMessage = string.Empty;
    private string displayMessage = string.Empty;
    private bool IsPalindrome = false;

    private void ReverseMe()
    {
        reversedMessage = string.Empty;

        for (int i = message.Length - 1; i >= 0; i--)
        {
            reversedMessage += message[i];
        }

        if (message.Equals(reversedMessage))
        {
            IsPalindrome = true;
        }

        displayMessage = $"The reverse of {message} is {reversedMessage}";
    }

    private void ClearMe()
    {
        message = "Reverse Me";
        reversedMessage = string.Empty;
        displayMessage = string.Empty;
        IsPalindrome = false;
    }
}
